<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.spring.sixth.dao.BoardMapper">
	
	
	<select id="countRecord" resultType="int">
		select 
			count(boardseq)
		from
			boardinfo
	
	
	</select>
	
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARDINFO(
		BOARDSEQ,
		ID,
		BOARDTITLE,
		BOARDCONTENT,
		HITCOUNT,
		indate
		)
		VALUES (
		BOARDSEQ.nextval,
		#{id},
		#{boardtitle},
		#{boardcontent},
		'0',
		sysdate
		)
	</insert>

	<insert id="insertFile" parameterType="file">
		INSERT INTO filesystem(
		fileseq,
		boardseq,
		org_name,
		sav_name,
		indate
		)
		VALUES (
		fileseq.nextval,
		(select max(boardseq) from boardinfo),
		#{orgname},
		#{savname},
		sysdate
		)
	</insert>

	<select id="selectAllBoard" resultType="Board">
		select
		boardseq,
		id,
		boardtitle,
		boardcontent,
		hitcount,
		indate
		from
		boardinfo
		order by
		indate
		desc

	</select>


	<select id="selectBoard" parameterType="String"
		resultType="Board">
		select
		boardseq,
		id,
		boardtitle,
		boardcontent,
		hitcount,
		indate
		from
		boardinfo
		where
		boardseq=#{boardseq}

	</select>
	<select id="selectFile" parameterType="String"
		resultType="File">
		select
			fileseq,
			boardseq,
			org_name orgname,
			sav_name savname,
			indate
		from
			filesystem
		where
			boardseq=#{boardseq}

	</select>
	<update id="updateBoard" parameterType="board">
		update boardinfo
		set
		boardtitle = #{boardtitle},
		boardcontent = #{boardcontent}
		where
		boardseq = #{boardseq}


	</update>

	<delete id="removeBoard" parameterType="board">
		delete from boardinfo
		where
		boardseq = #{boardseq}

	</delete>

	<update id="updateBoardHit" parameterType="String">
		update boardinfo
		set
		hitcount=hitcount+1
		where
		boardseq = #{boardseq}

	</update>


	<insert id="insertComment" parameterType="comments">
		INSERT INTO COMMENTS(
		COMMENTSSEQ,
		BOARDSEQ,
		ID,
		COMMENTS,
		INDATE
		)
		VALUES (
		commentseq.nextval,
		#{boardseq},
		#{id},
		#{comments},
		sysdate
		)
	</insert>

	<select id="selectPostComments" parameterType="String"
		resultType="comments">
		select
		COMMENTSSEQ,
		BOARDSEQ,
		ID,
		COMMENTS,
		INDATE,
		PARENTSEQ,
		TARGETID
		from
		comments
		where
		boardseq = #{boardseq}
		order by
		commentsseq
	</select>

	<insert id="insertReComment" parameterType="comments">
		INSERT INTO COMMENTS(
		COMMENTSSEQ,
		BOARDSEQ,
		ID,
		COMMENTS,
		INDATE,
		PARENTSEQ,
		TARGETID
		)
		VALUES (
		commentseq.nextval,
		#{boardseq},
		#{id},
		#{comments},
		sysdate,
		#{parentseq},
		#{targetid}
		)
	</insert>


	<update id="updateComment" parameterType="comments">
		update
		comments
		set
		comments = #{comments}
		where
		commentsseq = #{commentsseq}
	</update>


	<update id="updateRemoveComment" parameterType="comments">
		update
		comments
		set
		comments = #{comments},
		id = #{id}
		where
		commentsseq = #{commentsseq}
	</update>


	<delete id="deleteReComment" parameterType="comments">
		delete
		comments
		where
		commentsseq = #{commentsseq}
	</delete>
</mapper>
