<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.fifth.vo.User" alias="user" />
		<typeAlias type="com.spring.fifth.vo.Board" alias="board" />
	</typeAliases>
	<mappers>
		<mapper resource="Mapper/UserMapper.xml" />
		<mapper resource="Mapper/BoardMapper.xml" />
	</mappers>
</configuration>
